{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="alert alert-success" role="alert">
        <h3 style="text-align: center;">Change Password</h3>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                       minlength="8" maxlength="16" required>
            </div>
            <div class="form-group col-md-6">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password"
                       name="confirmpassword" minlength="8" maxlength="16" required>
            </div>
            <center>
                <button type="submit" id="btnSubmit" class="btn btn-primary" style="align:center;">Change Password</button>
                </center>
        </div>
    </form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirmpassword").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
{% endblock content%}