{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="alert alert-success" role="alert">
        <h3 style="text-align: center;">Sign Up</h3>
        <br/>
        <h2 style="text-align: center;"><b> {{error}}</b></h2>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" required>
            </div>
            <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname" required>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" required>
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" placeholder="Phone Number" name="phone" pattern="[0-9]{10}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                       minlength="8" maxlength="16" required>
            </div>
            <div class="form-group col-md-6">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password"
                       name="confirmpassword" minlength="8" maxlength="16" required>
            </div>
            <div class="form-group col-md-12">
                <label for="confirmpassword">Date of Birth</label>
                <input type="date" class="form-control" id="dob" placeholder="Date of Birth" name="dob" required>
            </div>
            <div class="form-group col-md-6">
                <p><b>Gender</b></p>
                <input type="radio" id="Female" name="gender" value="Female" required>
                <label for="Female">Female</label>
                <input type="radio" id="Male" name="gender" value="Male">
                <label for="Male">Male</label>
                <input type="radio" id="Other" name="gender" value="Other">
                <label for="Other">Other</label>
            </div>
            <div class="form-group col-md-6">
                <p><b>Type</b></p>
                <select name="Usertype" id="type" required>
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                </select>
            </div>
            <br/>

            <br/>
            <button type="submit" id="btnSubmit" class="btn btn-primary" style="align:center;">Sign up</button>
        </div>
    </form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirmpassword").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
{% endblock content%}